<div class="url-container">

  <form class="input-url" #form="ngForm" (ngSubmit)="submitUrl()">
    <mat-form-field class="input-url" appearance="fill">
      <mat-label>Enter an website address</mat-label>
      <input matInput placeholder="e.g. http://www.example.com" [formControl]="urlString" type="text" required>
      <mat-error *ngIf="urlString.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="urlString.invalid">Submit</button>
  </form>

</div>