<div class="url-container">
  <mat-spinner diameter="30"  value="20" *ngIf="showSpinner"></mat-spinner>
  <form class="input-url" #form="ngForm" (ngSubmit)="submitUrl()">
    <mat-form-field class="input-url" appearance="fill">
      <mat-label>Enter an website address</mat-label>
      <input matInput placeholder="e.g. http://www.example.com" [formControl]="urlString" type="text">
      <mat-error *ngIf="urlString.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="urlString.invalid">Submit</button>
  </form>
</div>

<div>
  <angular-tag-cloud
    [data]="data"
    [width]="options.width"
    [height]="options.height"
    [overflow]="options.overflow">
  </angular-tag-cloud>
</div>